
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 10vh;
    padding-bottom: 1vh;
    background-color: #F5F8FA;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #376EA8;
}

.footer {

    color: rgb(248, 248, 248);
    font-size: 10pt;
}

.bd-footer-links {
    padding-left:0;
    margin-bottom:1rem;
}
.bd-footer-links li {
    display:inline-block;
}
.bd-footer-links li+li{
    margin-left:1rem;
}

.bd-footer-links li a:link {
    color: rgb(248, 248, 248);
}

.bd-footer-links li a:visited {
    color: rgb(248, 248, 248);
}

.bd-footer-links li a:hover {
    color: rgb(248, 248, 248);
    text-decoration: underline;
}

.bd-footer-links li a:active {
    text-decoration: underline;
}


.bg-indigo {
    background-color: #1663AB;
}

.mt-10 {
    margin-top: 10rem !important;
}

.pt-10 {
    padding-top: 10rem !important;
}

.pb-5 {
    padding-bottom: 5rem !important;
}

 #jumb-back {
    background: linear-gradient(rgba(15, 29, 58,.7), rgba(15, 29, 58, .7)),  url(/images/group-study.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 #jumb-text {
     padding-left: 2rem;
     padding-right: 2rem;
     display: inline-block;
     background: rgba(255, 255, 255, 0.3);
     color: #fff;
     border-radius: 2px;
 }

.nounderline{
    text-decoration: none
}


.btn-outline-orange {
    color: #f08f1a  !important;
    background: transparent none;
    border-color: #f08f1a;
}

.btn-outline-orange:hover {
    color: #000000 !important;
    background-color: #f08f1a;
    border-color: #f08f1a;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(214, 120, 26, 0.89);
    box-shadow: 0 0 0 2px rgba(214, 120, 26, 0.89);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
    color: rgba(240, 143, 26, 0.7);
    background-color: transparent;
}

.btn-outline-orange:active, .btn-outline-orange.active,
.show > .btn-outline-orange.dropdown-toggle {
    color: #000000 !important;
    background-color: #f08f1a;
    border-color: #f08f1a;
}

.btn-card {
    /* Повторяет класс btn, однако без бордер-радиуса */
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.bg-success-answer {
    background-color: rgba(92, 184, 92, 0.5) !important;
}

.bg-danger-answer{
    background-color: rgba(217, 83, 79, 0.5) !important;
}


.variant:hover {
    background-color: rgba(55,110,168,0.24);
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display:none;
    z-index: 10;
}


.btn-indigo {
    color: #fff;
    background-color: #1663AB;
    border-color: #1663AB;
}

.btn-indigo:hover {
    color: #fff;
    background-color: #0c49ab;
    border-color: #0c49ab;
}

.btn-indigo:focus, .btn-indigo.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(22, 99, 171, 0.5);
    box-shadow: 0 0 0 2px rgba(22, 99, 171, 0.5);
}

.btn-indigo.disabled, .btn-indigo:disabled {
    background-color: #0c49ab;
    border-color: #0c49ab;
}

.btn-indigo:active, .btn-indigo.active,
.show > .btn-indigo.dropdown-toggle {
    color: #fff;
    background: #0f2d8c none;
    border-color: #0f2d8c;
}



.btn-outline-indigo {
    color: #1663AB;
    background: transparent none;
    border-color: #1663AB;
}

.btn-outline-indigo:hover {
    color: #fff;
    background-color: #0c49ab;
    border-color: #0c49ab;
}

.btn-outline-indigo:focus, .btn-outline-indigo.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(22, 99, 171, 0.5);
    box-shadow: 0 0 0 2px rgba(22, 99, 171, 0.5);
}

.btn-outline-indigo.disabled, .btn-outline-indigo:disabled {
    color: #0c49ab;
    background-color: transparent;
}

.btn-outline-indigo:active, .btn-outline-indigo.active,
.show > .btn-outline-indigo.dropdown-toggle {
    color: #fff;
    background-color: #1030ab;
    border-color: #1030ab;
}
